.section {
  position: relative;
  width: 100%;
  height: 100vh;

  background-color: var(--primary);
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../public/image/bgMajorKey.svg");
  background-position: center;
  background-size: cover;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.textHome {
  z-index: 30;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 25px;
}

.title {
  font-size: 80px;
  color: var(--dark);
}

.startApp {
  background-color: var(--dark);
  padding: 15px 40px 10px 40px;
  color: var(--white);
  text-decoration: none;
  border: 1px solid var(--dark);
  border-radius: 100px;

  transition: all 300ms ease-in-out;
}

.startApp:hover {
  background-color: transparent;
  border: 1px solid var(--darkHover);
  color: var(--dark);
}

.logoImage {
  display: block;

  z-index: 30;

  animation: major linear 3s infinite;
}

@keyframes major {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(20px);
  }
}

@media screen and (max-width: 992px) {
  .logoImage {
    display: none;
  }

  .title {
    font-size: 40px;
  }

  .startApp {
    background-color: var(--dark);
    padding: 10px 20px 5px 20px;
    color: var(--white);
    text-decoration: none;
    border: 1px solid var(--dark);
    border-radius: 100px;

    transition: all 300ms ease-in-out;
  }
}
